<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FreshLock Enforce</string>
	<key>CFBundleExecutable</key>
	<string>FreshLockEnforceExtension</string>
	<key>CFBundleIdentifier</key>
	<string>gg.tame.freshlock.enforce</string>
	<key>CFBundleName</key>
	<string>FreshLockEnforce</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleShortVersionString</key>
	<string>1.67</string>
	<key>CFBundleVersion</key>
	<string>168</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSEndpointSecurityEarlyBoot</key>
	<false/>
	<key>NSEndpointSecurityMachServiceName</key>
	<string>gg.tame.freshlock.enforce.xpc</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.system_extension.endpoint_security</string>
	</dict>
	<key>NSSystemExtensionUsageDescription</key>
	<string>FreshLock Enforce can deny launches of apps you marked as protected until you authenticate. This uses Apple's Endpoint Security system extension APIs. A local administrator can still uninstall FreshLock. Classic kernel extensions (kexts) are not used.</string>
</dict>
</plist>
